openai
langgraph
qdrant-client
pydantic
pyyaml
python-dotenv
typer
rich
kubernetes
PyGithub
pytest
pypdf
typing-extensions
fastapi
uvicorn
requests
uvicorn[standard]
pandas
awscli
google-api-python-client
google-auth
PyJWT[crypto]

boto3
